@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.App {
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
